.pro{
    top: 0;
    padding-top: 8%;
    margin-right: 0;
    position: absolute;
    left: 50rem;
    right: -10rem;
    text-align: center;
}
@media only screen   
and (min-device-width : 0px)   
and (max-device-width : 1200px){
  .pro{
    left: 0%;
    position: relative;
  }
}